{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'custom_css/cstyles.css' %}">

        {% block extra_css %}
        {% endblock extra_css %}
	</head>

	<body {% block body_class %} {% endblock %}>
        {% wagtailuserbar %}
		
        {% block header %}
            <div class="header fixed w-full z-50" id="navbar">
                <div class="bg-white w-full top-0">
                    <div class="container mx-auto" id="navbar_to_hide">
                        <div class="brand">
                            <a class="site-name text-4xl" href="/">
                                <span class="text">Coding Plus Plus </span>
                            </a>
                        </div>
                        {% include "blog/nav_bar.html" %}
                        <div class="empty h-2"></div>
                    </div>
                    <div class="progress-container">
                        <div class="progress-bar" id="myBar"></div>
                    </div>
                </div>
            </div>
            <div id="navbar_spacer"></div>
            <script type="text/javascript">
                px = document.getElementById("navbar").offsetHeight;
                document.getElementById("navbar_spacer").style.height += String(px+4)+"px";
            </script>
        {% endblock header %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="fixed left-0 bottom-0 w-full z-99">
                    <div class="flex justify-center shadow-xs bg-gray-900 w-full h-full">
                        <a class="p-2 text-white" href="/">Home</a>
                    </div>
                </div>
            </footer>
        {% endblock footer %}


        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
        <script src="{%static 'js/basic.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

	</body>

</html>
