{% extends 'blog\base.html' %}
{% load wagtailcore_tags wagtailimages_tags define_action %}
{% block body_class %}class="bg-gray-100"{% endblock body_class %}


{% block content %}
<!--blog_entry_page-->
    <div class="post 
                container 
                mx-auto 
                px-4 
                text-justify">
        <div class="CoverImage 
                    hidden
                    sm:flex
                    sm:justify-center
                    sm:h-64
                    sm:mt-2
                    sm:shadow-md
                    sm:bg-gray-100
                    md:shadow-lg
                    lg:shadow-xl
                    lg:h-cover  
                    xl:shadow-2xl">
            <div class="imgContainer 
                        h-full 
                        w-full">
                {% for block in page.CoverImage %}
                    <img class="h-full 
                                w-full
                                sm:rounded" {{block.value.get_img_tag}}>
                {% endfor %}
            </div>
        </div>

        <div class="explorer mt-8 bg-gray-300 px-4 rounded-md inline-block shadow-sm">
            <!--explorer-->
            <a class="font-mono font-semibold text-gray-800" href="{{page.get_site.root_url}}">HOME</a>
            &gt;
            <a class="font-mono font-semibold text-gray-800" href="{{page.get_parent.get_url}}">{{page.get_parent.slug | upper}}</a>
        </div>
        <div class="time_stamps" >
            <p class="font-mono font-semibold text-gray-600 mt-4 mb-4">last updated at {{page.updated}}</p>
        </div>

        <div class="article">
            <div class="py-2">
                {% for field in page.body %}
                    {% if field.block_type == 'Title' %}
                        <div class=" mt-10 antialiased font-mono text-5xl flex">
                            {{field.value}}
                        </div>
                    {% elif  field.block_type == 'body'%}
                        <div class="container w-full leading-relaxed mt-4 ">
                            {{field.value}}
                        </div>
                    {% else %}
                        {% include_block field %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="siblings flex flex-row space-x-4 mt-20">
            {%for post in siblings %}
                <div class="sibling relative">
                    {% for block in post.specific.CoverImage %}
                    <div class="sibling-img h-56 w-56">
                        <img {{block.value.get_img_tag}}>
                    </div>
                    {% endfor %}
                    <div class="sibling-info absolute -mt-32 w-56 p-4">
                        <a href="{{post.get_url}}">{{post.title}}</a>
                        {% for block in post.specific.body %}
                            {{block.value | truncatewords:10}}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="spacer h-8"></div>
{% endblock content %}